@model BugTracker.Application.ViewModels.ProjectViewModels.DetailViewModel

@{
    var action = ViewContext.RouteData.Values["action"].ToString();
    var controller = ViewContext.RouteData.Values["controller"].ToString();
}

@if (User.Identity.IsAuthenticated)
{
    <a class="left-sidebar-link @(controller == "Project" ? "active-link" : "")" asp-area="" asp-controller="Project" asp-action="Index">PROJECTS</a>

    if ((controller == "Project" && action == "Detail") || controller == "AppUser")
    {
        <a class="left-sidebar-link @(controller == "AppUser" ? "active-link" : "")" asp-area="" asp-controller="AppUser" asp-action="Collaborate" asp-route-id="">COLLABORATORS</a>
    }
}


