@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTracker</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logo.png" alt="BugTracker Logo" />
                </a>
                <div id="account-nav-cont">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul class="nav justify-content-end">
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="LogIn" class="nav-link">Log In</a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav justify-content-end nav">
                            <li class="nav-item pt-2">
                                <span>Welcome back, @HttpContextAccessor.HttpContext.Session.GetString("FirstName")!</span>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="LogOut" class="nav-link">Log Out</a>
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="container-fluid">
            @RenderBody()
        </main>
    </div>
    @*<script src="~/js/tickets.js" asp-append-version="true"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
